.landing-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}