body {
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(20, 20, 20);
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

